*{
    background-color: rgb(245, 221, 225);
}
h1{
    color:blue
}
.inp{
    background-color: rgb(236, 236, 182);
}
.btn{
    background-color: rgb(196, 194, 197);
}
.delete{
    background-color: rgb(196, 194, 197);
}
